alembic
aiofiles
email-validator
fastapi
langchain
langchain-core
langchain-openai
mysqlclient
openai
python-docx
python-dotenv
python-jose[cryptography]
python-multipart
passlib[bcrypt]
pydantic
pydantic-settings
PyPDF2
sqlalchemy
tiktoken
tzdata
uvicorn
langchain-openai
langchain-core
alembic
mysqlclient
python-docx