fastapi
uvicorn
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
mysqlclient
pydantic
pydantic-settings
aiofiles
email-validator
tzdata
openai
python-docx
PyPDF2
langchain-openai
langchain-core
tiktoken
alembic
mysqlclient
python-docx
