alembic
aiofiles
email-validator
fastapi
uvicorn
sqlalchemy
langchain
langchain-core
langchain-openai
mysqlclient
openai
python-docx
python-dotenv
python-multipart
passlib[bcrypt]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
mysqlclient
pydantic
pydantic-settings
aiofiles
email-validator
tzdata
openai
python-docx
PyPDF2
sqlalchemy==2.0.35
tiktoken
tzdata
uvicorn
langchain-openai
langchain-core
alembic
mysqlclient
python-docx
weasyprint
jinja2
